@import 'variables';

$primary-color: #893b67;
$primary-white: #ffffff;
$primary-black: #000000;
$primary-gray:  #edeeee;
$primary-green: #63d1bb;  
$secondary-gray: #767676;
$secondary-green: #56c3b2;
$border-color: rgba(0, 0, 0, 0.1);