// sass-lint:disable no-duplicate-properties

@import 'variables';

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'), local('OpenSans-Regular'), url('../assets/fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: bold;
  font-weight: 700;
  src: local('OpenSans-Bold'), local('OpenSans-Bold'), url('../assets/fonts/OpenSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'), local('OpenSans-Regular'), url('../assets/fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: bold;
  font-weight: 700;
  src: local('OpenSans-Bold'), local('OpenSans-Bold'), url('../assets/fonts/OpenSans-Bold.woff2') format('woff2');
}
