@import 'variables';

.small-gutters {
  margin-left: - $spacer / 4;
  margin-right: - $spacer / 4;

  > .col,
  > [class*='col-'] {
    padding-left: $spacer / 4;
    padding-right: $spacer / 4;
  }
}
