$font-family: 'OpenSans', sans-serif;
$font-size: 16px;
$spacer: 16px;

$backdrop: rgba(214, 214, 214, 0.4);
$opacity: 0.7;

$grid-breakpoints: (
  xs: 0,
  xs640: 640px,
  sm: 768px,
  md: 1281px
);

$container-max-widths: (
  xs: 360px,
  xs640: 512px,
  sm: 768px,
  md: 1232px
);
