{% set items = [
  'Документы',
  'План',
  'Оплата',
  'Стадии',
  'Online',
  'Инструкция'
] %}

<div class="sidebar__actions">
  <ul class="sidebar__actions-list list-unstyled">
    {% for item in items %}
      <li class="sidebar__actions-item">
        <a href="/" class="sidebar__actions-link">
          {{item}}
        </a>
      </li>
    {% endfor %}      
  </ul>    
  <div class="notice sidebar__notice">
    <a href="/notice" class="notice__link">
      <span class="notice__text">
          Уведомления
      </span>
      <span class="notice__counter">0</span>
    </a>    
  </div>   
</div>  