<div class="location sidebar__location">
  <ul class="location__list list-unstyled">
    {% for i in range(2) %}
      <li class="location__item">
        <div class="location__descr">          
          <span class="location__address">Адрес 123</span>
          <span class="location__object">Адрес 123</span>
        </div>
        <a href="/" class="location__link">
          Перейти
          <span class="location__arrow"></span>
        </a>
      </li>
    {% endfor %}
  </ul> 
</div>