<header class="header">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      {% include './logo.njk' %}
      {% include './nav.njk' %}
      {% include './compare.njk' %}
      {% include './cabinet.njk' %}
      {% include './callback.njk' %}
      {% include './mobile/index.njk' %}
    </div>
  </div>
</header>
