<div class="logo">
  <a href="/" class="logo__link">
    <img 
      src="./images/logo.png" 
      srcset="./images/logo2x.png 2x"
      width="146"
      height="41"
      alt="Company logotype"
    />
  </a>        
</div>