{% set items = [
  {
    id: 1, 
    href: '/razdel1',
    label: 'Раздел №1'
  },
  {
    id: 2, 
    href: '/razdel2',
    label: 'Раздел №2'
  },
  {
    id: 3, 
    href: '/razdel3',
    label: 'Раздел №3'
  },
  {
    id: 4, 
    href: '/razdel4',
    label: 'Раздел №4'
  },
  {
    id: 5, 
    href: '/razdel5',
    label: 'Раздел №5'
  }
] %}

<nav class="navigate header__navigate d-none d-md-block">
  <ul class="navigate__list list-unstyled">
    {% for item in items %}
      <li class="navigate__item">
        <a 
          href="{{ item.href }}" 
          class="navigate__link"
        >
          {{ item.label }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>