.news {
  background-color: $primary-gray;
  padding: $spacer*1.75 0;
  &__header {
    display: flex;
    align-items: center;
  }
  &__list {
    list-style-type: none;
    padding: 0;
  }
  &__title {
    margin-bottom: 0;
    margin-left: $spacer/2;
    background-color: $primary-white;
    padding: 2px 4px;
    text-transform: uppercase;
    font-size: $font-size * 0.875;
  }
  &__descr {
    margin-bottom: 0;
    margin-top: $spacer;
    font-size: $font-size*0.875;
    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }
}