<section class="notices-grid">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        {% include '../sidebar/index.njk' %}
      </div>
      <div class="col-12 col-md-9">
        {% include './notices/index.njk' %}
      </div>       
    </div>
  </div>  
</section>

{% include './news/index.njk' %}