.cabinet {
  cursor: pointer;
  border: 1px solid $border-color;
  padding: $spacer/4 $spacer;
  border-radius: 14px;
  transition: border-color 200ms ease;
  &:hover {
    border-color: $primary-color;
  }
  &::after {
    content: '';
    display: inline-block;
    background-image: url('../images/triangle.png');
    background-repeat: no-repeat;
    width: 10px;
    height: 8px;
    background-size: contain;
    margin-left: $spacer*0.75;
  }
  &__text {
    font-size: $font-size * 0.875; 
  }
}