@keyframes flyingBalls {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.callback {
  &__link {
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: none;
    }
    &:hover > .callback__icon::before {
      animation-name: flyingBalls;
      animation-duration: 1200ms;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
  &__text {
    color: #565f66;
    font-size: $font-size * 1.125;
    margin-right: 22px;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/phone.png');
    background-size: contain;
    width: 36px;
    height: 36px;
    &::before {
      content: '';
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $primary-color;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0.7;
    }
  }
  @include media-breakpoint-down(sm) {
    margin-left: auto;
    margin-right: 32px;
  }
}