.compare {
  position: relative;
  display: flex;
  align-items: center;
  &__icon {
    display: inline-block;
    background-image: url('../images/compare.png');
    background-repeat: no-repeat;
    width: 18px;
    height: 12px;
  }
  &__counter {
    position: absolute;
    top: 0;
    left: $spacer*0.75;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $primary-white;
    width: 14px;
    height: 14px;
    background-color: $primary-color;
  }
  &__text {
    text-transform: capitalize;
    color: $primary-color;
    font-size: $font-size * 0.875;
    margin-left: $spacer*0.75;
  }
}