.header {
  display: flex;
  align-items: center;
  height: 92px;
  @include media-breakpoint-down(md) {
    padding: 0 16px;
  }
}

@import './_logo';
@import './_navigate';
@import './_compare';
@import './_cabinet';
@import './_callback';
@import './mobile/_index';
