.navigate {
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
  &__link {
    font-size: $font-size * 0.875;
    color: $primary-color;   
    &:hover {
      text-decoration: none;
      color: $primary-color;
      opacity: 0.8;
    }
  }
}