&__actions {
  margin-bottom: $spacer*2;
  @include media-breakpoint-down(md) {
    margin-bottom: $spacer;
  }
  &-list {
    @media (max-width: 1280px) {
      display: none;
    }
  }
  &-item {
    &:not(:last-child) {
      margin-bottom: 40px;      
    }    
  }
  &-link {
    color: $primary-color;
    &:hover {
      text-decoration: none;
      color: $primary-color;
      opacity: 0.8;
    }
  }
}