.location {
  display: flex;
  align-items: flex-start;
  &__list {
    position: relative;
    width: 100%;
    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: space-between;
      &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: $border-color;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &__item {
    display: flex;
    padding: $spacer*2.175 0;
    border-top: 1px solid $border-color;
    width: 100%;
    @include media-breakpoint-down(sm) {
      border-top: none;
      padding: 0;
      &:not(:last-child) {
        padding-right: $spacer*2;
      }
      &:last-child {
        padding-left: $spacer*2;
      }
    }
  }
  &__descr {
    display: flex;
    flex-direction: column;
  }
  &__address {
    font-size: 24px;
    color: $primary-color;
    font-weight: bold;
    margin-bottom: $spacer*0.75;
  }
  &__object {
    font-size: $font-size;    
  }
  &__link {
    display: flex;
    align-items: center;
    align-self: flex-end;
    font-size: $font-size * 0.875;
    color: $primary-color;
    font-weight: bold;
    margin-left: auto;
    &:hover {
      text-decoration: none;
      color: $primary-color;
      opacity: $opacity;
    }
  }
  &__arrow {
    display: inline-block;
    background-image: url('../images/circle-arrow.png');
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-left: 10px;
  }
}