.sidebar {
  padding-right: 42px;
  border-right: 1px solid $border-color;
  @include media-breakpoint-down(sm) {
    border: none;
    padding: 0;
  }
  @import './__actions';
  &__notice {
    margin-top: 28px;
  }
}

@import './__locations';
@import './_notice';
