.notice {
  position: relative;
  cursor: pointer;
  border: 1px solid $border-color;
  padding: $spacer/4 $spacer;
  border-radius: 14px;
  transition: border-color 200ms ease;
  &:hover {
    border-color: $primary-color;
  }
  &__link {
    color: $primary-black;
    display: block;
    &:hover {
      text-decoration: none;
      color: $primary-black;
    }    
    @include media-breakpoint-down(sm) {
      display: inline-block;
      position: relative;
    }
  }
  &__text {
    font-size: $font-size * 0.875;
  }
  &__counter {
    position: absolute;
    top: -$spacer/2;
    right: 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $primary-white;
    width: 20px;
    background-color: $primary-color;    
    @include media-breakpoint-down(sm) {
      right: -$spacer*1.125;
    }
  }
}