.hero {
  max-width: 100%;
  height: 232px;
  background-size: cover;
  background-repeat: no-repeat;
  &__label {
    align-self: flex-end;
  }
  &__address {
    padding: $spacer/2 $spacer;
    background-color: $primary-white;
    color:  #414141;
    font-size: $font-size * 1.125;
    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }
  &__object {
    padding: $spacer/4 $spacer;
    background-color: $primary-white;
    color: #414141;
    font-size: $font-size * 3;
    font-weight: bold;
    @include media-breakpoint-down(sm) {
      font-size: 32px;
    }
    @include media-breakpoint-down(xs640) {
      font-size: 26px;
    }
  }
}