<div class="notices mt-5 mt-md-0">
  <header>    
    <h2><b>Уведомления</b></h2>
  </header>
  <ul class="notices__list list-unstyled">
    {% for i in range(5) %}
      <li class="notices__item">
        <header>
          <time class="notices__date">1957/10/04</time>
          <h6><b>«Вращательный экваториальный момент — актуальная национальная задача»</b></h6>
          <button class="button js-toggle-notice">
            <span class="notices__icon --hide"></span>
          </button>
        </header>
        <div class="notices__content" data-visible="hidden">
          <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Ему, вершину семантика! Живет, журчит над щеке безопасную языкового предупреждал?</p>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>