.notices {
  &__list {
    margin: $spacer*2 0;
  }
  &__item {
    position: relative;
    padding: $spacer;
    border: 1px solid $border-color;
    border-radius: 8px;
    &:not(:last-child) {
      margin-bottom: $spacer;
    }
    & h6 {
      max-width: 80%;
    }
  }
  &__date {
    background-color: $primary-gray;
    padding: 2px;
    display: inline-block;
    margin-bottom: $spacer;
  }
  &__icon {
    position: absolute;
    right: 30px;
    top: 56px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../images/arrow-up.png');
    &.--hide {
      background-image: url('../images/arrow-gray.png');      
    }
  }
  &__content {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: 200ms linear;
    &.is-visible {
      visibility: visible;
      opacity: 1;
      height: 100%;
      transition: 200ms linear;
    }
  }
}