<div class="callback mobile__callback">
  <a href="tel:70000000000" class="callback__link">
    <span class="callback__text">+7 000 000-00-00</span>
    <span class="callback__icon"></span>    
  </a>
</div>