<div class="compare mobile__compare d-flex d-md-none mb-3">
  <button class="button button_compare_menu js-compare">   
    <span class="compare__icon"></span>
    <span class="compare__counter">0</span>
    <div class="compare__text">
        Сравнение
    </div>
  </button> 
</div>