<header class="d-flex justify-content-between">
  {% include '../logo.njk' %}
  <button class="button mobile-nav__close js-mobile-close">
    <img 
      src="./images/m-close.png"
      srcset="./images/m-close2x.png 2x"
      alt="Закрыть меню"
    >
  </button>
</header>  