<nav class="mobile-nav d-block d-md-none">
  {% include './opener.njk' %}
  <div class="mobile-menu">
    {% include './header.njk' %}  
    <main>
      {% include './list.njk' %}
      {% include './compare.njk' %}
      {% include './cabinet.njk' %}
      {% include './callback.njk' %}
    </main>
  </div> 
</nav>
