<ul class="mobile-menu__list list-unstyled">
  {% for i in range(5) %}
    <li class="mobile-menu__item">
      <a href="/" class="mobile-menu__link">
        Раздел {{ i }}
      </a>
    </li>
  {% endfor %}
</ul>