.mobile-menu {
  z-index: 2;
  position: absolute;
  width: 100%;
  background-color: $primary-white;
  min-height: 100vh;
  top: 0;
  left: 0;
  padding: $spacer*2;
  transform: translateX(-100%);
  transition: 240ms ease;
  &.is-open {
    transform: translateX(0%);
  }
  @import './__cabinet';
  @import './__list';  
  @import './__compare';
  @import './__callback';
}



