<section 
  class="hero" 
  style="background-image: url('./images/hero.jpg')"
>
  <div class="container h-100">
    <div class="row h-100">  
      <div class="hero__label">
        <span class="hero__address">Адрес 123</span>
        <br>
        <span class="hero__object">Объект №51</span>
      </div>     
    </div>
  </div>
</section>