@import './_socials';

.communication {
  &__callback {
    font-size: 24px;
    font-weight: bold;
  }
  &__address {
    font-size: $font-size * 0.875;
  }
  &__mail {
    color: $primary-color;
    &:hover {
      color: $primary-color;
    }
  }
}