.footer__mobile-toggler {
  position: relative;
  @include media-breakpoint-down(xs640) {
    border-bottom: 1px solid $border-color;
    &::after {
      content: '❮';
      display: inline-block;
      position: absolute;
      right: $spacer;
      top: 0;
      transform: rotate(-90deg);
      
      transition: transform 200ms ease;
    }
    &.is-open::after {
      transform: rotate(-270deg);
      transition: transform 200ms ease;
    }
  }
}

.footer__mobile-content {
  @include media-breakpoint-down(xs640) {
    display: none;
    &.is-open {
      display: block;
    }
  }
}