<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xs640-4 mb-4 mb-xs640-0">
        {% include "./communication.njk" %}
      </div>
      <div class="col-12 col-xs640-8">
        <div class="row">
          {% for i in range(4) %}
          {% include './list.njk' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>