<div class="footer__navigate col-12 col-xs640-3 mb-4 mb-md-0">
  <header class="footer__mobile-toggler">
    <h6>
      <b>Раздел №{{i+1}}</b>
    </h6>
  </header>
  <nav class="footer__nav footer__mobile-content">
    <ul class="footer__list list-unstyled">
      {% for i in range(5) %}
      <li class="footer__item">
        <a href="/" class="footer__link">
          Подраздел {{i}}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>