<section class="glide news">
  <div class="container glide__track" data-glide-el="track">
    <ul class="news__list row glide__slides">
      {% for i in range(4) %}
        <li class="news__item col-3 glide__slide">
          <header class="news__header">
            <time>14/07</time>
            <h6 class="news__title"><b>Новости</b></h6>
          </header>
          <p class="news__descr">
              Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.
          </p>
        </li>
      {% endfor %}
    </ul>    
  </div>
  <div class="glide__bullets d-xs-640-block d-md-none" data-glide-el="controls[nav]">
    <button class="glide__bullet" data-glide-dir="=0"></button>
    <button class="glide__bullet" data-glide-dir="=1"></button>
    <button class="glide__bullet" data-glide-dir="=2"></button>
    <button class="glide__bullet" data-glide-dir="=3"></button>
  </div>
</section>