.footer {
  padding: $spacer*2 0;
  &__link {
    color: $primary-color;
    font-size: $font-size * 0.875;
    &:hover {
      text-decoration: none;
      color: $primary-color;
      opacity: $opacity;
    }
  }
}

@import './parts/_comminication';
@import './parts/list';